body{
    /* Setting Background Color of the body*/
    background-color:whitesmoke;
    /* Setting font as family. Different family different font */
    font-family: 'Times New Roman', Times, serif;
    /* Sets margin from all the four sides. Default here */
    margin: 0;
    /* Works pretty same as margin(idk search it)/default here */
    padding: 0;
    /* It determines the font color */
    /* color:black; */
    /* It is what it is */
    font-size: 20px;
    /* Defines the font style. e.g., italic */
    font-style:normal;
    color: #2c3e50;

}
.container{
    background-color:white;
    /* Defines the redius of the outer border/ simply rounds the border */
    border-radius: 20px;
    /* Defines the max-width of the container(Also be used width, height, max/min-width. max/min-height */
    max-width: 900px;
    /* How much space will be kept in the upper side */
    margin: 100px auto;
    /* Space between the container border and font */
    padding: 50px;
    /* Idk wtf is this */
    box-shadow: rgb(0, 0, 0) ;
    color: #2c3e50;
    overflow: scroll; /* Mf doesn't work/*
    
}
h1{
    font-size: 45px;
    color:#2c3e50;
    /* Defines the the bottom borders(Like we underline a paragraph heading in exam) width and color */
    border-bottom:3px solid gainsboro;
    /* How much space will be kept between the border and text(heading 1 here) */
    padding-bottom: 10px;
    /* Adds shadow to text. Works on all three dimensions */
    /* text-shadow: 3px 3px 3px white; */
}
h2{
    font-size: 35px;
    color:#2c3e50;
    /* Decorated the text (underline, overline, line-through) */
    text-decoration: none;
    /* How much space will be kept on the left side */
    text-indent: 0;
    /* Transforms the text as full uppercase(uppercase), full lowercase(lowercase), uppercase first letter  */
    /* of every word(capitalize) */
    text-transform: none;

}
p{
    color:#333;
    font-size: 25px;
    /* Defines height between two line of text */
    line-height: 1.5;
    /* Space between two letters in the text. If negative value used the letters with integrate*/
    letter-spacing:0px;
    /* Defines fonr varient (small-caps) normal/default here */
    font-variant:normal;
    
    
}
.section{
    margin-top: 50px;
    color: #2c3e50;
    
}
.footer{
    color: rgb(181, 180, 180);
    font-size: 15px;
    /* Where to allign the text e.g., left, right, center */
    text-align: center;
    margin-top: 60px
}
/* Defines the overall design of a link not visited yet*/
a:link{
    /* color: black; */
    text-decoration: none;
    /* border: 1.5px solid white; */
    /* border-radius: 3px; */
    /* background-color: gainsboro; */
    /* Defines the type of cursor when pointing the link. Can be also added to other class
    or element or tags */
    cursor:pointer;
}
/* For a visited one */
a:visited{
    color: black;
}
/* For whe we hover our pointer on a link */
a:hover{
    color:burlywood;
    text-decoration: none;
    text-shadow: 1px 1px 1px silver;
}
/* IDK */
a:active{
    color: black;
    
}
